.editor{
	margin: 0;
	padding: 0;
	border:1px solid gray;
	overflow: scroll;
	float: left;
	width:65%;
}
.pageViewer{
	border:1px solid gray;
	float: left;
	width:15%;
}

.listNumber{
	display: inline-block;
	width:20%;
}
.pageThumbnail{
	display: inline-block;
	width:70%;
}
.thumbnail{
	width:100%;
}

.rightcolumn{
	margin: 0;
	padding: 0;
	border:1px solid gray;
	width:15%;
	height: 700px;
	position: absolute;
	right: 1em;
	background-color: white;
}
.attributelist{
	margin: 0;
	padding: 0;
	/*border:1px solid gray;*/
	height: 65%;
	overflow: scroll;
	
}

.tools{
	width:15%;
	border:1px solid gray;
	margin:0 0 1em 0;
	padding: 0;

}

.layers{
	margin: 0;
	padding: 0;
	/*border:1px solid gray;*/
	height: 35%;
	overflow: scroll;
}


.attributelist{
	width: 100%;
}
.attribute-group{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
	/*margin: 0;
	padding: 0;*/
}
.attribute-dropdown-list{
	padding: 1em;
}
.attribute-dropdown-listline{
	margin: 0;
	padding: 0;
}
.attribute-dropdown-listline-item{
	display: inline-block;
	width: 60%;

}
.actionpanel{
	position: absolute;
	clear:both;
	width:60%;
	padding: 1em;
	border:1px solid gray;
	background-color: white;
}
.actionpanel-close{
	position: absolute;
	right: 1em;
}
.actionpanel-dropdown{
	width:40%;
	margin: 1em;
	display: inline-block;
	position: relative;
}
.actionpanel-dropdown-dropdown{
	width:100%;
	height: 1em;
	position: absolute;
}
.actionpanel-dropdown-input{
	width:90%;
	height: 1em;
	position: absolute;
	border:1px hidden white;
	z-index: 10;
	margin-top: 3px;
}
.actionpanel-table{
	width:100%;
	table-layout: fixed;
	/*padding: 0 1em;*/
}
.actionpanel-table-column{
	width:25%;
	overflow: hidden;
}